body {
    padding: 0;
    margin: 0;
    justify-content: center;
    font-family: 'Poppins';
    overflow: scroll;
    padding-top: 3rem;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}


.intro {
    padding: 70px;
    background-color: aliceblue;
    border-radius: 30px;
    /* border: 3px solid black; */
    width: 1200px;
    margin: 67px auto;
    height: 450px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    display: flex;
}

.off-link {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.5rem 0.6rem;
    border-radius: 9px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text1s {
    max-width: 50%;
    padding: 67px;
    transition-duration: 0.2s;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
}

.text1s h2:hover {
    color: rgb(250, 191, 15);
}

.order-buttom {
    background-color: rgb(242, 194, 132);
    font-family: Outfit;
    font-size: 1rem;
    border: rgb(252, 227, 203) solid 1px;
    border-radius: 24px 12px;
    padding: 8px 12px;
    cursor: pointer;
    /* box-shadow: 0 9px 7px -3px rgba(0, 0, 0, 1.3); */
    transition-duration: 0.3s;

}




.order-buttom:hover {
    background-color: #cef9f9;
    box-shadow: 0 9px 7px -3px rgba(0, 0, 0, 1.3);
}

/* For creating the text overflow */

.text-container{
    width: 324px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.text-container h2{
    font-size: 2rem;
}

.text-container p {
    font-size: 1rem;
    line-height: 1.5; /* Adjust line height for readability */
    display: -webkit-box; /* Flex-like layout for multi-line truncation */
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical; /* Set box orientation to vertical */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Add ellipsis to the truncated text */
}

.pizza-image {
    position: relative;
    top: -63px;
    max-width: 50%;
    filter: drop-shadow(9px 9px 101px rgb(231, 148, 6));
}

.pizza-image img {
    position: relative;
    width: 81%;
    
}


.item-list {
    justify-content: center;
    padding: 5%;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: -60px;
}


.card-1 {
    display: flex;
    border: none;
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
    width: 313px;
    align-items: center;
    flex-direction: column;
    border-radius: 200px;
}

.item-image{
    filter: drop-shadow(2px 5px 25px rgb(231, 148, 6));
}
.item-image:hover{
    filter: drop-shadow(2px 5px 25px rgb(231, 32, 6));
    transform: scale(1.2); /* for zooming in hover */
}



.card-1 img {
    width: 100%;
}

.item-price1 h2 {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    position: relative;
    text-align: center;
    cursor: pointer;
    padding: 9px 5px;
    margin: 5%;
    border-radius: 50px;
    background-color: aquamarine;
    
}

.item-price1 a{
    text-decoration: none;
}

.item-cart-info p {
    margin: 8%;
    position: relative;
    top: -20px;
}

.Rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    top: -30px;
}

.rating-avater img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}